.add-location-page {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  width: 15vw;
}

.section-heading {
  font-size: 16pt;
  margin-bottom: 15px;
}

label, input {
  display: block;
}

label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}
input {
  font-size: 14pt;
  margin-bottom: 12px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}

a {
  text-decoration: none;
}